[submodule "lifelib"]
	path = submodules/lifelib
	url = https://gitlab.com/apgoucher/lifelib.git

[submodule "ntzfind"]
	path = submodules/ntzfind
	url = https://github.com/rokicki/ntzfind.git
[submodule "submodules/lifelib"]
	path = submodules/lifelib
	url = https://gitlab.com/apgoucher/lifelib.git
